@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --font-base: "DM Sans", sans-serif;

  --primary-color:#A5C9CA;
  --secondary-color: #2C3333;
  --black-color: #395B64;
  --lightGray-color: #395B64;
  --gray-color: #2C3333;
  --brown-color: #E7F6F2;
  --white-color: #E7F6F2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}