@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto&display=swap');
:root {
  --font-base: 'Nunito', 'sans-serif';
  
  --primary-color:#a5c9ca2a;
  --secondary-color: #2C3333;
  --black-color: #395B64;
  --lightGray-color: #395B64;
  --gray-color: black;
  --brown-color: white;
  --white-color: white;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
