:root {
    --blue:#4158D0;
    --purple:#C850C0;
    --yellow:#FFCC70;
    

    --gray-0:#f9f9fa;
    --gray-1:#eceeef;
    --gray-2:#eceeef;
    --gray-3:#cfd3d7;
    --gray-4:#bfc5c9;
    --gray-5:#adb4b9;
    --gray-6:#98a1a8;
    --gray-7:#98a1a8;
    --gray-8:#606e79;
    --gray-9:#454e55;

    --gradient: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);

    --fs-h1: 3.5rem;
    --fs-h2: 2rem;
    --fs-h3: 1.5rem;
    --fs-body: 1rem;

    --ff-montserrat: 'Roboto', sans-serif;
    --ff-Playfair: 'Prompt', serif;
    --ff-Roboto: 'Roboto', sans-serif;
 
    font-family: 'Prompt', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* ul{
    list-style: none;
} */

/* Develop later */
.nav-scrolled {
    background-color: white;
    color: black;
}


nav {
    position: fixed;
    background-color: white;
}


.hero {
    color: white;
    padding-top: 9rem;
    text-align: center;
    padding-bottom: 5rem;
    width: 100%;
    background-color: purple;
    background-image: var(--gradient);
    background-size: 600%;
    animation: move 10s alternate infinite;
}

.hero-social{
    margin-left: 2rem;
    color: white;
    font-size: 1.5rem;
}

.hero-social:hover{
color: green;
}

.name-holder{
    text-align: left;
}

.profile-wrapper{
    text-align: cente;
}

.line{
    max-width: 80%;
    height: .1rem;
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.profile{
    max-width: 20rem;
    /* max-height: 8rem; */
    border-radius: 50%;
    
}



@keyframes move {
    from {
        background-position: 0%;
    } 
    to {
        background-position: 100% 100%;
    }
}

.row>* {
    padding-left: 0rem;
    padding-right: 0rem;
}

.box {
    padding-top: 1rem;
    border-radius: 5px;
    position: relative;
    margin: 3rem;
    min-width: 10rem;
    width: 100%;
    /* max-height: 38rem; */
    background-color: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.172);
}

.project-btn {
    position: absolute;
    bottom: 1rem;
}

body {
    font-family: var(--ff-Playfair);
    background-color: white;
}

.main-section   {
    background-color: white;
}

a {
    color: var(--gray);
}

#mug {
    color: var(--gray);
}

h1{
    font-size: var(--fs-h1);
}

h2{
    font-size: var(--fs-h2);
}

h3{
    font-size: var(--fs-h3);
}

/* Skills */
.skills-section{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.172);
}

.my-skills {
    padding-top: 3rem;
    text-align: center;
}

.skills-section {
    background-color: white;
    
}

.about-me {
    padding-top: 3rem;
    text-align: center;
}

h1, h2, h3 {
    font-weight:500;
}

.steven{
    font-size: 5rem;
    font-weight: 100;
}

.hero-anchor {
    /* padding-top: 10rem; */
    color: white;
    font-size: 2rem;
}
/* 
.hero-icons{

} */

#fullstack-dev {
    padding-bottom: 1.0rem;
    font-size: 2rem;
}

header {
    background-color: var(--blue);
    color: var(--gray);
}

.project-header {
    text-align: center;
    padding: 3rem;
}

.lang-icons{
    text-align: center;
    font-size: 1.7em;
    /* font-weight: 300; */
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.skill-ul{
    list-style: none;
    text-align: center;
}

.bruh-i{
    font-size: 3rem;
}

/* Footer */
.footer-section {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3rem;
    background-color: white;
    width: 100%;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.172);
}


#footer-row {
    background-color: white;
    padding-bottom: 2rem;
    padding-top: 1rem;

}

.submit-contact {
    padding-top: 3rem;
}

.form-group {
    padding-bottom: 2rem;
}

label {
    float: left;
}


.contact-form {
    max-width: 50%;
    margin: auto;
    padding: 2rem;
}


.message-label{
    padding-top: 1.5rem;
}

/* Projects */
.card-body {
    padding-bottom: 5rem;
}

.col-btn{
    text-align: right;
}

.card-btn{
    /* max-width: 50%; */
}

.card-title-bruh {
    line-height: 150%;
}

.img-container {
    position: relative;
    overflow: hidden;
  }
  
  .img-container > .img {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
  }
  
  .img-container > .live-demo {
    position: absolute;
    inset: 0;
    color: white;
    font-size: 3rem;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.432);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.img-container > .img,
.img-container > .live-demo {
    transition: 200ms ease-in-out;
}

.img-container>.live-demo.fade{
    opacity: 0;
}

.img-container:hover > img.blur {
    filter: blur(5px);
  }

.img-container:hover>.live-demo.fade{
    opacity: 1;
}

#resume {
    border: solid 2px white;
    padding: 8px 15px;
    font-size: 2em;
    background-color: transparent;
    width: 6rem;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}


#resume:hover {
    border: solid transparent;
    background-color: green;
    transition-duration: 100ms
}

#project-section {
    background-color: #98a1a81b;
}

.social-container{
    padding: 1rem;
    text-align: center;
}

.social{
    font-size: 2.0rem;
    margin: 1rem;
    text-decoration: none;
    color: var(--gray-9);
}



@media only screen and (max-width: 1400px) {

    .box{
        margin: 1rem;
    }

    .project-container{
        max-width: 90%;
    }

    .card-title-bruh{
        font-size: medium;
    }

    .card-btn{
        font-size: medium;
    }
    /* h1{
        font-size: 3em;
    }

    h2{
        font-size: 2em;
    }

    h3 {
        font-size: 1.5em;
    }

    .row>* {
        width: auto;
    }

    .lang-icons{
        font-size: 3em;
    }

    .row {
        --bs-gutter-x: 0;
        --bs-gutter-y: 0;
    }

    .project-row {
        flex-direction: column;
        width: auto;

    } */

}

@media only screen and (max-width: 768px) {
   .project-row{
       /* display:flex; */
       flex-direction: column;
       /* background-color: green; */
       /* margin: 0; */

   }
   .box{
       margin: 0;
       margin-bottom: 3.5rem;
   }
   .project-container{
       max-width: 100%;
   }
}

@media only screen and (max-width: 800px) {
   .steven{
       font-size: 4rem;
   }
    .profile-wrapper  {
       display: none;
   }
   .line{
       max-width: 100%;
   }
   .lang-icons{
       font-size: medium;
   }
}


@media only screen and (max-width: 510px) {
   .steven{
       font-size: 3rem;
   }
   #fullstack-dev{
    font-size: 1.5rem;
   }

   .line{
       max-width: 100%;
   }
   
   .bruh-i {
    font-size: xx-large;
}
}


@media only screen and (max-width: 400px) {
   .steven{
       font-size: 2rem;
   }
   #fullstack-dev{
    font-size: 1.0rem;
   }

   .bruh-i {
       font-size: medium;
   }

   .lang-icons{
       /* font-size: small; */
   }

   .line{
       max-width: 100%;
   }

   .hero-social {
       font-size: 1.2rem;
   }

   .hero{
       padding-top: 6rem;
       padding-bottom: 3rem;
   }

   #resume{
    border: solid 2px white;
    padding: 5px 11px;
    font-size: 2em;
    background-color: transparent;
    width: 6rem;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
    text-decoration: none; 
   }

   .about-me-h{
       font-size: 1rem;
   }
   
   p {
       text-align: left;
       font-size: .8rem;
   }
}

